@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body{
        width: 100vw;
        padding: 0px;
        margin: 0px;
        height: 900vh;
    }
    .container{
        min-width: 100vw;
        min-height: 100vh;
        padding: 0px;
        margin: 0px auto;
        max-width: 1920px;
    }
    .home-logos{
        animation: scrollX 10s linear infinite;
    }
    @keyframes scrollX {
        0%{ 
            transform: translateX(0%);
        }
        100%{
            transform: translateX(-50%);
        }
    }
}